In [1]:
print("hello")

hello

In [2]:
print("India","Pakistan")

India Pakistan

In [3]:
print("India",5,True)

India 5 True

In [6]:
print("India","Pakistan",sep='/')

India/Pakistan

In [7]:
print("hello",end=' ')
print("world")

hello world

# Python supports categories of data types
.Basic Types -(integer , float, complex,boolean and string)
.Container Types - (List, tuples, Sets and Dictionary)
.User- defined types - class

In [8]:
print(4)
print(1e309)

4
inf

In [9]:
print(True)
print(False)

True
False

In [10]:
print(4+5j)

(4+5j)

In [11]:
#string
print('Kolkata')
print("Kolkata")
print("""Kolkata""")

Kolkata
Kolkata
Kolkata

# Container type

In [12]:
# list

print([1,23,5,4])

[1, 23, 5, 4]

In [13]:
# tuple
print((1,2,4))

(1, 2, 4)

In [14]:
# sets
print({1,2,3,5})

{1, 2, 3, 5}

In [16]:
# dict
print({"name":"priya", "Age":'22'})

{'name': 'priya', 'Age': '22'}

# Comments

In [17]:
# this is a comments

# Variables

In [31]:
name = 'priya'
print(name)

priya

In [19]:
# in pyhton no variable declaration

In [20]:
# it is call Dynamic typing where there are no need to declare any variable type

# it is not static typing example of static typing :- c,c++, java etc

In [32]:
# Dynamic Binding :- python have the  concept of Dynamic Binding because after define an any type of veriable we can define again deffernt type of variable

In [33]:
# Static Binding:- it is opion to the  Dynamic Binding

In [34]:
# Special syntax
a=2;v=4;c=5

print(a)
print(v)
print(c)

2
4
5

In [35]:
a,b,c=1,2,3
print(a)
print(b)
print(c)

1
2
3

In [36]:
a=b=c=6
print(a)
print(b)
print(c)

6
6
6

# Keywords

* Python is a case sensitive programming language

In [38]:
# In programming , a keyword is a word that is reserved by a program because the word has a special meaning . keywords can be commands or parameters . Every programming language has set of keywords that cannont be used as variable names.

In [40]:
# python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifiers

In [41]:
# A python identifier ia a name used to identify a variable , function , class , module or other object

# Rules for setting identifiers

* can only start with an alphabet or _

* Followed by 0 or more letter, _ nad digits

* keywords cannot be used as an identifiers

# Taking user input

In [44]:
input()

'2'

In [52]:
input(prompt = "tell me your name")

'4'

# create an program of sum with  user number

In [70]:
first = input("Enter 1 st number")
second = input("Enter second number")

result = int(first)+int(second)
print(result)

38

In [46]:
print(first)
print(second)

34
34

In [ ]:
sum = first + second
print(sum)

3434

* when ever you  are using input you will get input out as string because there are away  to take data

In [55]:
# type

type(3.4)
type([1,2,3])

list

In [57]:
type(first)

str

# Types of Type Conversion

* implicit :- when python doning automatically  type Conversion 
* explicit:- programmer going to do mannully conversion of the data

In [58]:
# int
int('45')

45

In [59]:
float(4)

4.0

In [60]:
str(44)

'44'

In [61]:
bool(0)

False

In [62]:
complex(4)

(4+0j)

In [63]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [68]:
# type conversion is not a paramnent operation it is use only for that sell

# type casting is a paramanet solution

In [65]:
a=4.5

In [66]:
int(a)

4

In [67]:
a

4.5

# Literals

Literals is a raw data given in a variable. In Python , there are various types of literals thy are as follows 

* Numeric Literals
* String Literals
* Boolean Literals 
* Special Literals

In [73]:
# Numeric Literals

a=0b1010 # Binary Literals
b=100 #Decimal literals
c=0o310 #Octal literal
d = 0x12c #Hexadecimal literal

# Float literal

float_1 = 10.5
float_2= 1.5e2
float_3 = 1.5e-3


#Complex literal
x = 3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)

print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

# String Literals

In [76]:
string = 'This is Python'
strings = "This is Python"
char ="c"
multiline_str = """This  is  a multiline string with more than one k=line code."""
unicode =u"\U0001f600\U0001f606\U0001F923"
raw_str =r"raw \n string "

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
c
This  is  a multiline string with more than one k=line code.
😀😆🤣
raw \n string

# Boolean Literal

In [78]:
a = True +4
b = False+ 10
print(a,b)

5 10

# Special Literal

In [ ]:
a = None
print(a)

# if you want to assigne a varible but not assigne any type then use none

None

# Operators

Operators are used to  perform operations on variable and variables and values . python has following operators.

* arithmetic operators
* Comparison Operators
* logical operators
* Bitwise operators
* Assignment operators
* Identity operators
* Membership operators

# there are only  two  loops 
1. while loop

2. for loop