# What is Pandas 

Pandas is a fast, powerful , flexible easy to use open source data analysis and manipulation tool, built on top of the python programming language.

# pandas Series

A pandas Deries is like a column in a table .It is a 1-D array hlding data of any type.

# Importing Pandas

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# series from lists
# string

country = ['India','Pakistan','USA','Nepal','Srilanka']
pd.Series(country)

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [3]:
# integers

runs = [13,24,56,78,100]

runs_ser = pd.Series(runs)

In [4]:
# custom index
marks =[2,3,4,5]
subject = ['w','r','t','g']

pd.Series(marks,index=subject)

w    2
r    3
t    4
g    5
dtype: int64

In [5]:
# setting a name 
marks = pd.Series(marks,index=subject,name='Hello these are marks ')

In [6]:
marks

w    2
r    3
t    4
g    5
Name: Hello these are marks , dtype: int64

# Series from dict

In [7]:
marks = {
    'd':3,
    'r':4,
    'f':5
}

marks_series = pd.Series(marks,name="hello these are the marks")

In [9]:
marks_series

d    3
r    4
f    5
Name: hello these are the marks, dtype: int64

# Series Attributes

In [10]:
# size
marks_series.size

3

In [11]:
# dtype
marks_series.dtype

dtype('int64')

In [12]:
# name
marks_series.name

'hello these are the marks'

In [13]:
# is_unique
marks_series.is_unique

True

In [15]:
# index
marks_series.index

Index(['d', 'r', 'f'], dtype='object')

In [16]:
runs_ser.index

RangeIndex(start=0, stop=5, step=1)

# Series using read_csv

In [17]:
# with  one col

pd.read_csv('subs.csv')

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [18]:

type(pd.read_csv('subs.csv'))

pandas.core.frame.DataFrame

In [29]:
# this is an data frame if want ot work  with  this as a series we need to convert it 
# squeese is use for the convert dataFrame to serics

subs = pd.read_csv('subs.csv').squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [ ]:
type(subs)

pandas.core.series.Series

In [31]:
# with  two  cols
vk = pd.read_csv('kohli_ipl.csv',index_col='match_no').squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [32]:
movies = pd.read_csv('bollywood.csv',index_col='movie').squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [34]:
# head and  tail
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [35]:
subs.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [36]:
vk.head(3)

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [40]:
#  sample
movies.sample(10)

movie
Action Replayy                 Akshay Kumar
Yaaram (2019 film)         Siddhanth Kapoor
Tanu Weds Manu: Returns      Kangana Ranaut
Hichki                         Rani Mukerji
No Smoking (2007 film)         John Abraham
Batla House                    John Abraham
No Problem (2010 film)          Sanjay Dutt
Chand Sa Roshan Chehra          Samir Aftab
Xcuse Me                      Sharman Joshi
Roy (film)                     Arjun Rampal
Name: lead, dtype: object

In [41]:
# value_count -> movies
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [42]:
movies.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [43]:
# sort-value -> inplace 
vk.sort_values()

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [46]:
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [48]:
vk.sort_values(ascending=False).head(1).values[0]

113

In [ ]:
# sort_index -> inplace -> movies


vk = vk.copy()
vk.sort_values(inplace=True)



vk

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [ ]:
# sort-index -> inplace -> movies
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object